h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: blue;
  font-style: italic;
  text-align: center;
}
h3 {
  color: blue;
  font-style: italic;
  text-align: center;
}
h4 {
  color: blue;
  font-style: italic;
  text-align: center;
}
h5 {
  color: blue;
  text-align: left;
}

p {
  font-family: sans-serif;
  text-align: center;
}
.sidebar {
    height: 100%;
    border: 5px outset red;
    background-color: lightblue;    
    text-align: justify;
    width: 65%;
    float: right;
}
.yellow-theme{
      background-color: yellow;
}
.main {
      background-color: lightblue;    
      text-align: left;
}
.main .contacts {
  background-color: lightblue;    
  display: inline-block
}